<div #results *ngIf="currentQ>=numQuestions" class="results">
  <h4 class="mat-display-1"> You scored {{ score }} / {{ numQuestions }}!</h4>
  <div class="action-row">
    <button mat-button color="primary" routerLink="/quiz" (click)="restart()"><span class="mat-h1"> Play Again</span></button>
    <button mat-button color="primary"  (click)="learnMore()"><span class="mat-h1">See Answers</span></button>
  </div>
</div>
<div #quiz>
  <mat-accordion multi>
    <mat-expansion-panel [expanded]="currentQ === i" hideToggle  *ngFor="let omen of omens ; let i = index"
      [attr.data-index]="i" (opened)="setStep(i)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ omen.protasis }} &#8230;
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list #answer [multiple]="false" [(ngModel)]="selectedAnswer" >
        <mat-list-option *ngFor="let opt of omen.options" [value]="opt"
          [selected]="answered[i] === opt" [ngClass]="{'correct': (showCorrectAnswers && omen.apodosis === opt), 'incorrect': (showCorrectAnswers && omen.apodosis != opt && answered[i] === opt)}">
          {{opt}}
          </mat-list-option>
        </mat-selection-list>
      <mat-action-row *ngIf="answered[i] === ''">
        <button mat-button color="primary" (click)="submitAnswer(i)" [disabled]="!answer.selectedOptions.selected[0]?.value">Next</button>
      </mat-action-row>
  </mat-expansion-panel>
  </mat-accordion>
</div>
