<div #quiz>
  <mat-horizontal-stepper linear #stepper labelPosition="bottom" >
    <mat-step  *ngFor="let omen of omens" editable="false" #currentStep>
      <form >
        {{ omen.protasis }} &ndash;
        <div>
          <ng-template matStepLabel></ng-template>
          <mat-selection-list #answer [multiple]="false" [(ngModel)]="selectedAnswer" [ngModelOptions]="{standalone: true}">
            <mat-list-option *ngFor="let opt of omen.options" [value]="opt">
              {{opt}}
            </mat-list-option>
          </mat-selection-list>
          <div class="transition">
            <button mat-button matStepperNext [disabled]="!answer.selectedOptions.selected[0]?.value"
              (click)="submitAnswer(currentStep)">
              Submit
            </button>
          </div>

        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
<div #results *ngIf="currentQ>=numQuestions">
  You scored {{ score }} / {{ numQuestions }}!
  <div>
    <button mat-button color="primary" routerLink="/home" (click)="restart()">Learn More! </button>
    <button mat-button color="primary" routerLink="/quiz" (click)="restart()">Play Again! </button>
  </div>
</div>
