<div fxFlexFill fxLayout="column">
  <mat-toolbar  fxFlex="none">
    <a mat-button   routerLink="/">{{title}}</a>
    <a mat-button routerLink="/quiz" >Quiz </a>
    <span class="spacer"></span>
         <button mat-icon-button color="accent"  aria-label="Share">
         <mat-icon>share</mat-icon>
         </button>
  </mat-toolbar>
  <main  role="main" class="" fxFlex >
    <div flex class="contents">
      <router-outlet></router-outlet>
    </div>
  </main>
  <footer class="page-footer font-small" fxLayout="row" fxLayoutGap	="2em" fxLayoutAlign="center">
    <img src="assets/OEAW_Logo_cmyk.jpg"   alt="Austrian Academy of Sciences">
    <img src="assets/acdh-ch-logo96.png"    alt="Austrian Centre for Digital Humanities and Cultural Heritage">
    <img src="assets/orientalistik.jpg"    alt="Institut für Orientalistik">
    <img src="assets/univie.jpg"    alt="University of Vienna
    <!-- <div class="footer-copyright py-3  text-center">
         © {{currentYear}} Copyright:
         </div> -->
  </footer>
</div>
