<mat-toolbar >

  <a mat-button routerLink="/" >{{title}}</a>
  <!-- <a mat-button routerLink="/about" >About</a>
       <a mat-button routerLink="/team" >Team</a> -->
</mat-toolbar>
<main  role="main" class="">
  <div flex class="container">
    <router-outlet></router-outlet>
  </div>


</main>

<footer class="page-footer font-small">
  <img  src="../assets/OEAW_Logo_cmyk.jpg"   alt="">
  <img  src="../assets/acdh-ch-logo96.png"    alt="">
  <img  src="../assets/orientalistik.jpg"    alt="">
  <img  src="../assets/univie.jpg"    alt="">
  <!-- <div class="footer-copyright py-3  text-center">
       © {{currentYear}} Copyright:
       </div> -->

</footer>
